*.npy
*/png


.idea/

/logs

__pycache__/

.DS_Store

*.pickle

*.csv

*.png

*.svg

notebooks/.ipynb_checkpoints/Plot-checkpoint.ipynb

rl_agents_scripts/out
notebooks/RiverSwim.zip

.ipynb_checkpoints/
